{% load i18n static cms_tags %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>500 - Touché Premiere</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">

    <link rel="shortcut icon" type="image/png" href="{% static 'app/images/favicon.ico' %}"/>
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'app/images/favicon-32x32.png' %}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'app/images/favicon-16x16.png' %}">



    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'app/images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'app/images/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'app/images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'app/images/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'app/images/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'app/images/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'app/images/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'app/images/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'app/images/apple-touch-icon.png' %}">

    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
        html {
            width: 100%;
            height: 100%;
        }

    </style>
</head>
<body>
    <div>500 - Internal Server Error</div>
</body>
</html>